#Derecha
    {
        margin-top:165px;

    }
#Izquierda
    {
        padding:25%;
        background:#636357;
        /*background:#085075;*/
        text-align:center;
            padding-left: 150px;
    }